.frrr {
	height: 150px !important;
	max-height: fit-content !important;
}

.loader {
	border-top-color: #3498db;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

.polygone {
	width: 60px;
	background-color: #e5e7eb;
	height: 75px;
	clip-path: polygon(5% 0, 55% 50%, 5% 100%, 0% 100%, 50% 50%, 0% 0%);
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}